@import '../../components/CartItem/CartItem.module.scss';

.cart {
  width: 100%;

  min-height: 100vh;
  padding: 48px 130px;

  @media (max-width: 1290px) {
    padding: 48px 50px;
  }

  &__empty {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 48px;

    p {
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      color: #b2b5bb;
    }
  }

  &--block {
    margin-top: 48px;
    display: flex;
    column-gap: 48px;

    &__left {
      ul {
        border: 1px solid #c4c4c4;
        margin-bottom: 32px;
        border-radius: 4px;
        padding: 20px 40px;
        width: 100%;
        min-width: 776px;
        height: 80%;
        min-height: 566px;
        overflow: auto;

        @media (max-width: 850px) {
          min-width: 500px;
        }

        .deleted {
          img,
          .info {
            opacity: 0.6;
          }

          .add-item {
            width: auto;
            margin-left: 248px;
          }
        }
      }
    }

    &__right {
      width: 100%;

      div {
        width: 356px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1290px) {
          width: 300px;
        }
      }

      h4 {
        color: #b2b5bb;
      }

      p {
        color: #444b58;
      }

      .total-count {
        h4 {
          font-weight: 400;
          font-size: 20px;
          line-height: 150%;
        }

        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 150%;
        }
      }

      .without-discount {
        margin-top: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;

        h4 {
          font-weight: 600;
          font-size: 20px;
          line-height: 150%;
        }

        p {
          font-weight: 700;
          font-size: 20px;
          line-height: 150%;
        }
      }

      .total-price {
        margin-top: 10px;

        h4 {
          font-weight: 600;
          font-size: 24px;
          line-height: 150%;
        }

        p {
          font-weight: 700;
          font-size: 24px;
          line-height: 150%;
        }
      }
    }
  }

  @media (max-width: 1210px) {
    padding: 24px;
    &--block {
      flex-direction: column;
      column-gap: 0;

      &__left,
      &__right {
        width: 100%;
        max-width: 100%;
      }

      &__left {
        ul {
          padding: 20px;
        }

        li {
          padding: 15px;
        }

        .info {
          margin: 0 auto;
        }
      }

      &__right {
        div {
          width: 100%;
        }
        margin-bottom: 48px;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 16px;

    h2 {
      font-size: 28px;
    }

    &--block {
      &__left ul {
        min-width: 300px;

        li {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          img {
            margin-bottom: 10px;
          }
        }

        .info,
        .add-item,
        .delete {
          width: auto;
          text-align: center;
          margin: 0;
        }

        .add-item {
          margin-top: 10px;
        }

        .delete {
          margin-top: 10px;
        }
      }
    }
  }
}
