@import './colors&fonts.scss';
@import './all.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Jost', sans-serif;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: none;
  background: $button;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $button-hover;
  }

  &:disabled {
    background-color: $button-disabled;
  }
}

.not-found {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 156%;
    color: #444b58;
  }
}
