.link {
  height: 20px;
  max-width: 310px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #444b58;

  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
  }

  &.cart-active {
    white-space: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
  }
}
