@import '../styles/colors&fonts.scss';

.wrapper {
  position: relative;
  min-height: 100%;
}

main {
  padding-bottom: 90px;
}

.layout {
  h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 147%;
    color: #fff;
  }

  li {
    a {
      font-weight: 600;
      font-size: 14px;
      line-height: 143%;
      color: #fff;

      &:hover {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #c4c4c4;
      }
    }
  }
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 209.5px 0 130px;
  background-color: $footer;

  @media (max-width: 768px) {
    padding: 0 20px;
  }

  &__menu {
    display: flex;
    column-gap: 40px;
  }
}
