@import '../styles/colors&fonts.scss';

.wrapper {
  position: relative;
  min-height: 100%;
}

main {
  padding-bottom: 90px;
}

.layout {
  h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 147%;
    color: #fff;
  }

  li {
    a {
      font-weight: 600;
      font-size: 14px;
      line-height: 143%;
      color: #fff;

      &:hover {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #c4c4c4;
      }
    }
  }
}

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 130px;
  background-color: $purple;

  @media (max-width: 1200px) {
    padding: 0 50px;
  }

  @media (max-width: 768px) {
    padding: 0 20px;
  }

  @media (max-width: 480px) {
    padding: 0 10px;
  }

  &__menu {
    display: flex;
    column-gap: 40px;
    width: 340px;
    height: 20px;

    .cart-wrapper {
      display: flex;

      &__title {
        margin-top: 2.2px;
      }

      &__item {
        margin-left: 6px;
        display: flex;

        .count {
          position: absolute;
          padding: 2px 4px;
          margin: 12px;
          border-radius: 6px;
          width: 12px;
          height: 12px;
          background: $button;
          font-weight: 400;
          font-size: 8px;
          line-height: 100%;
          text-align: center;
          color: #fff;
        }
      }
    }
  }
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;

  &:hover {
    background-color: rgb(205, 203, 210);
  }
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 130px;
  background-color: $footer;

  @media (max-width: 768px) {
    padding: 0 20px;
  }

  &__menu {
    display: flex;
    column-gap: 40px;
  }
}

@media screen and (max-width: 560px) {
  .hamburger {
    display: block;
  }

  .navigation {
    &__menu {
      flex-direction: column;
      position: absolute;
      z-index: 2;
      top: 90px;
      left: 0;
      width: 100%;
      height: calc(100vh - 60px);
      background-color: $purple;

      border-top: 1px solid black;
      display: none;

      li {
        text-align: center;
        padding: 20px 0;
        &:hover {
          background-color: #eee;

          a {
            color: $purple;
          }
        }
      }

      .cart-wrapper {
        display: flex;
        justify-content: center;
      }
    }
  }
  .navigation-menu.expanded ul {
    display: block;
  }
}
